<form class="row g-3" method="post" action="/Products/Next">
    <div class="col-auto">
        <button type="previous" class="btn btn-primary mb-3">Previous Page</button>
        <button type="next" class="btn btn-primary mb-3">Next Page</button>
    </div>
</form>