@model CatalogModel

@{
    ViewData["Title"] = "Index";
}

<h1>Products Catalogue</h1>
<hr/>
    <div>

        @Html.Partial("SearchProductPartial", Model)
    </div>
<hr/>
<br />

<div class="container">
    <div class="row">
       @Html.Partial("ProductDisplayPartial", Model)
    </div>
</div>

<div class="container">
    <div class="row">
        <button type="previous" class="btn btn-danger mb-3">Previous Page</button>
        <button type="next" class="btn btn-success mb-3">Next Page</button>
    </div>
</div>



