@model CatalogModel

@{
    ViewData["Title"] = "Index";
}

<h1>Products Catalogue</h1>
<hr/>
    <div>

        @Html.Partial("SearchProductPartial", Model)
    </div>
<hr/>
<br />

<div class="container">
    <div class="row">
       @Html.Partial("ProductDisplayPartial", Model)
    </div>
</div>

<div class="container">
    <div class="row">
        @Html.Partial("NextPagePartial", Model)
    </div>
</div>



