@model CatalogModel

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>
<hr />
@foreach (var c in Model.Carts)
{
    <option value="@c.Id">@c.Product.Name</option>
    <p>@c.Email</p>
    <p>@c.Quantity</p>

}

<hr />

<div class="col-auto">
    <button type="submit" class="btn btn-primary onclick="return window.confirm ">Checkout</button>
</div>
