@model CatalogModel

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>
<hr />
<div>

    <div class="container">

        <table class="table">
            @foreach (var c in Model.Carts)
            {
                <p class="card-title">@c.Id</p>
                <p class="card-text">€ @c.Email</p>

            }
        </table>

    </div>

</div>
<hr />