@model CatalogModel

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>
<hr />

@foreach (var c in Model.Carts.Where(c => c.Email == User.Identity.Name))
    
{
    <option value="@c.Id">@c.Product.Name</option>
    <p>@c.Email</p>
    <p>@c.Quantity</p>
}


<hr />

<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Checkout</button>
</div>
