@model CatalogModel

    <form class="row g-3" method="post" action="/Products/Next">
        <div class="col-auto">
            <label> Pagination:</label>
            <br/>
            <hr/>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary mb-3">Next Page</button>
        </div>
    </form>